<% provide(:title, "About") %>

<h3>About blocmarks</h3>
<p>
  Blocmarks is a project I built as part of bloc.io Rails Developer Apprenticeship. All the projects are built from scratch with the help of an experienced mentor. If this sounds interesting to you check out bloc and if you decide to sign up it would be awesome if you included me as a referral.
  <br /> <br />
  Bloc + bookmarks = blocmarks. Naming things is hard...
</p>

<h3>About bloc</h3>
<p>
  Bloc is an online developer bootcamp (they call it an apprenticeship) where you work one-to-one with a mentor pairing on your projects and sending your code to be reviewed. Currently they've got courses in Rails Development, Frontend Development, UX Design, iOS, and Android.
</p>

<p>
  Shameless plug--if you sign up with my share link <a href="https://www.bloc.io/?ref_token=MTI4MTY3Mg">here</a> I'll get a little referral bonus. Thanks!
</p>

<h3>About Me</h3>
<p>
  To learn more about me, check out my <a href="smcabrera.github.io">website</a> where you'll find a blog, more projects and my contact information. Follow me on stuff (github, twitter, linkedin)! Use stuff I built and tell me what could be better. I'm always open to feedback.
</p>
