<% provide(:title, "Home") %>

  <div class="jumbotron">
    <h1><%= app_name %></h1>
    <p class="lead">A simple link sharing app</p>
    <p>
      <%= link_to "Sign in", new_user_session_path, class: "btn btn-primary btn-lg" %> or
      <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
    </p>
  </div>

  <div class="row marketing">
    <div class="col-lg-6">
      <h4>Organized bookmarks! It's what's good!</h4>
      <p>Don't leave your bookmarks in a mess! Save them in categories to make them easier to find</p>
    </div>

    <div class="col-lg-6">
      <h4>Sharing! Also good!</h4>
      <p>Don't be miserly with those bookmarks! Share them with others!</p>
    </div>
  </div>
